main {
	position: relative;
	height: 100vh;
}

.header {
	position: fixed;
	padding: 1rem;
	width: 100%;
}

#form {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
}

#input {
	width: 100%;
	height: 4.5rem;
	padding: 1rem;
	font-size: 1.5rem;
}


.submit {
	padding: 0 2rem;
}


ul {
	list-style: none;
	padding: 5rem 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}


h1 {
	color: palegoldenrod;
}

li {
	background-color: #0026ca;
	border-radius: 1rem;
	padding: 1rem;
	font-size: 1.5rem;
	margin: 0.5rem;
}

input {
	padding: 0.7rem;
}

.register-form {
	padding-top: 5rem;
	height: calc(100vh - 4.5rem);
	display: flex;
	justify-content: center;
	align-items: center;
}

.register-form__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50vw;
	padding: 1.5rem;
	gap: 0.5rem;
	background-color: #25AFFF;
	border-radius: 10px;

}